/* Scandia font import */
@import url('https://use.typekit.net/zlk8cju.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-rgb: 21, 23, 55;
  --background-rgb: 95, 217, 221;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-rgb: 255, 255, 255;
    --background-rgb: 21, 23, 55;
  }
}

body {
  color: rgb(var(--text-rgb));
  background: rgb(var(--background-rgb));
}
