/* Scandia font import */
@import url('https://use.typekit.net/zlk8cju.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-rgb: 21, 23, 55;
    --dark-text-rgb: 255, 255, 255;
    --background-rgb: 178, 238, 239;
    --dark-background-rgb: 21, 23, 55;
}

html {
    color: rgb(var(--text-rgb));
    background: rgb(var(--background-rgb));
}

html.dark {
    color: rgb(var(--dark-text-rgb));
    background: rgb(var(--dark-background-rgb));
}
